* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.main {
  height: 100vh;
  background-color: #6c757d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
}


